<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("../partials/head.ejs") %>
  <title>Document</title>
  <style>
    .card {
      margin: 0 auto;
    }

    img {
      width: 300px;
      height: 300px;
      display: block;
      margin: auto;
    }

    .foot {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
  <div class="card" style="width: 50rem;">
    <img src="<%= position.logo %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;"><%= position.symbol %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Shares: <%= position.shares %></li>
      <li class="list-group-item">Average cost: $<%= position.avgCost %></li>
      <li class="list-group-item">Fees: $<%= position.fees %></li>
      <li class="list-group-item">Market price: $<%= position.currentPrice %></li>
    </ul>
    <div class="card-body foot">
      <a href="/<%= position._id %>/edit" class="btn btn-primary">Edit</a>
      <form action="/<%= position._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn btn-primary">
      </form>
    </div>
  </div>
</body>
</html>